* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #F2F2F2;
  color: #212529;
}


#fixMeDetectBox *:not(.CodeMeCanvas *),
#superDeveloper111,
[id=jinnoInstalled] {
  display: none;
}


/* ------ Navbar ---------- */
.navbar
{
  width: 100%;
  position :fixed;
  top: 0%;
  border-bottom: 1px solid #d2d2d2;
  padding: 13px;
  z-index: 1000;
  background-color: white;
}

.navbar-nav{
  display: flex;
}


.navbar-expand-lg .navbar-nav {
  padding-left: 120px;

}

.navbar-nav .nav-item {
  margin: 0 10px; 
}

.nav-link {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.dropdown-item{
  font-size: 14px;
}

.navbar-brand {
  padding: 0; 
  position: absolute;
  
}

.search {
  margin-right: 10px;
  width: 16px;
}

.rounded
{
  margin-top: 100px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.479);
  border-radius: 0%;

}
.navbar-brand img {
  width: 45px; 
  height: auto; 
  display: block;  
}

.navbar-nav .dropdown-menu {
  position: static;
  width: 20%;
}

/*---------- Home --------- */

.brands-container {
  display: flex;
  gap: 10px;
  padding: 50px;
  align-items: stretch; /* alignement vertical homogène */
  flex-direction: row;  /* Main image à gauche */
  justify-content: flex-start;
}

.main-image {
  position: relative;
  flex: 2;
  height: 750px; /* Hauteur fixe pour caler avec les deux petits blocs */
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vans {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: white;
    border-radius: 5px;
}

.vans button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.side-images {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.side-item {
  position: relative;
  flex: 1;
  height: 50%; /* Chaque image prend la moitié de la hauteur totale */
}

.side-item img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}

.side-text {
    position: absolute;
    bottom: 150px;
    left: 250px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    padding: 15px 10px;
}

/* ---------modale (popup) ------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 1rem;
}

.modal-content {
  background-color: #171717;
  padding: 2rem 2rem;
  width: 100%;
  max-width: 340px;
  color: white;
  font-size: 14px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s ease-in-out;
}

.modal-content:hover {
  transform: scale(1.02);
  border: 1px solid black;
}

.modal-content h2{
  text-align: center;
  font-size: 24px;
} 

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #252525;
  color: white;
  border: none;
  padding: 0.2em 0.5em;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.close-btn:hover {
  background-color: red;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 1.5rem;
}

.form-grid input {
  padding: 0.6em;
  border-radius: 10px;
  border: none;
  background-color: #2a2a2a;
  color: white;
  outline: none;
  font-size: 14px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.submit {
  padding: 0.5em;
  width: 140px;
  margin: auto;
  border-radius: 6px;
  background-color: #252525;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.3s ease-in-out;
}

.submit:hover {
  background-color: black;
}

.error-msg {
  color: #ff4d4f;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
}

.switch-mode {
  text-align: center;
  margin-top: 1.5rem;
}

.switch-mode button {
  background: none;
  border: none;
  color: #ccc;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;

}

.switch-mode button:hover {
  color: white;
}


/* ----- Page Profile -------- */
.prf {
  max-width: 720px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 14px;
}

.prf-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.prf-user {
  margin-bottom: 1.5rem;
}

.prf-subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.prf-empty {
  font-style: italic;
  color: #666;
}

.prf-order {
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fafafa;
}

.prf-order-title {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.prf-items {
  margin-top: 0.5rem;
  padding-left: 1.2rem;
  list-style: disc;
}



/* --- Page Profile User ----- */
.prf {
  max-width: 500px;
  margin: 120px auto;
  padding: 1.5rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.551);
  font-size: 14px;
}

.prf-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  
}

.prf-user {
  margin-bottom: 1rem;
  font-size: 16px;
  display: flex;
  gap: 20px;
}

.prf-subtitle {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.prf-empty {
  font-style: italic;
  color: #666;
}

.prf-order {
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fafafa;
}

.prf-order-title {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.prf-items {
  margin-top: 0.5rem;
  padding-left: 1.2rem;
  list-style: disc;
}


/* ---------- shop catégories ------- */

/* .categories-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.479);
  overflow: hidden;
}

.categories-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
}

.categories-content h1 {
  text-align: center;
  margin-bottom: 20px;
}



.categories-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  justify-content: flex-start;
  padding: 10px;
  gap: 70px;
  scroll-padding-left: 10px;
}

.categories-slider::-webkit-scrollbar {
  display: none; 
}


.category-box {
  flex: 0 0 90vw; 
  max-width: 350px; 
  height: 320px; 
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}


.category-image {
  width: 100%;
  max-height: 250px; 
  object-fit: contain;
  border-radius: 5px;
} */


/* ----- Page Panier / cart ------ */

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  flex-direction: column;
  margin: auto;
}


.cart-items {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}

.cart-item {
  max-width: 800px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin:20px auto;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.cart-summary {
  flex: 1;
  border: 1px solid #ddd;
  text-align: center;
  background: #fff;
  padding: 35px;
  border-radius: 5px;
  margin-top: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-container h1 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-product-image {
  width: 150px;
  object-fit: cover;
  margin-right: 15px;
}

.product-info {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-info h2 {
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}

.product-info p {
  font-size: 16px;
  padding-left: 30px;
  color: black;
}

.product-info button, span{
  padding: 3px 6px;
  border-radius: 5px;
}

.cart-quantity-controls {
  display: flex;
  align-items: center;
  gap: 3px;
  
}

.cart-quantity-controls button {
  padding: 5px 7px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.quantity-btn {
  background-color: #f3f3f3;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #ccc;
  cursor: pointer;
}

.quantity-btn:hover {
  background-color: #ddd;
}


.remove-button {
  background-color: #cd0b05;
  cursor: pointer;
  color: white;
  padding: 5px 7px;
  font-size: 14px;
  border-radius: 5px;
}

.remove-button:hover {
  background-color: #c9302c;
}

.cart-summary div {
  display: flex;
  justify-content: space-between;
  padding: 20px ;

}
.cart-summary h2{
  font-size: 26px;
  font-weight: bold;
}

.cart-summary p {
  font-size: 18px;
  padding: 3px;
}

.info-list {
  font-size: 0.9rem;
  color: #555;
}

.info-list li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.center-text {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}


/* -------- Page produit --------- */
.container-product {
  max-width: 1200px;
  margin: 110px auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
}

.alert {
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
}

.alert.info {
  background-color: #d1ecf1;
  color: #0c5460;
}

.row-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* centre les cartes */
}

.card-wrapper {
  flex: 1 1 calc(33.333% - 20px); /* 3 cartes par ligne avec gap */
  max-width: calc(33.333% - 20px);
  box-sizing: border-box;
}



.shadow-sm {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-img-top {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 15px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.card-price {
  font-size: 18px;
  font-weight: bold;
  color: #018849;
  margin-bottom: 15px;
}

.no-product {
  width: 100%;
  text-align: center;
  font-style: italic;
  color: #666;
  margin-top: 30px;
}



/*------ Page Detail --------------*/

.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 150px auto;
}


.product-detail-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 160px;
  width: 100%;
}

.product-detail-title {
  font-size: 24px;
  font-weight: bold;
}

.product-image {
  flex: 1;

  max-width: 300px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-detail-info {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.product-detail-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}


.product-detail-size-selector {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.size-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.size-button {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.size-button.selected {
  padding: 5px 10px;
  background-color: #292929;
  color: white;
}

.size-button:hover {
  background-color: #292929;
  color: white;
}

.product-detail-quantity-selector {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 3px;
  
}

.quantity-controls button {
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.quantity-controls button:hover {
  background-color: #292929;
  color: white;
}

.quantity-controls input {
  width: 50px;
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.success-message {
  margin-top: 10px;
  padding: 10px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}

.toggle-details-button {
  margin-top: 20px;
  width: 160px;
  height: 35px;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.toggle-details-button:hover {
  background-color:#292929;
  color: white;
}

.product-detail-description {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
}



/* -- Suggestion sur la Page detail produit --- */

.suggested-products-section {
  padding-top: 30px;
  margin-top: 40px;
  border-top: 1px solid #ccc; 
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.suggested-products-section > h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #000000;
}

.suggested-products-list {
  display: flex;
  overflow-x: auto; 
  gap: 15px;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #888 #ddd;
}

.suggested-products-list::-webkit-scrollbar {
  height: 8px;
}

.suggested-products-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.suggested-product-card {
  margin: 20px auto;
  min-width: 150px; 
  flex-shrink: 0;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.suggested-product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgb(0 0 0 / 0.15);
}

.suggested-product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 8px;
  object-fit: contain;
}

.suggested-product-card p {
  margin: 6px 0;
  font-size: 0.9rem;
  color: #000000;
}

/* -------- Page commande ------------- */

.order-page {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 60px 180px 180px 180px;
  margin-top: 185px;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.order-summary {
  width: 50%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 80vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.order-page h1{
  position: absolute;
  top: 120px;
  font-size: 32px;
  justify-content: center;
  text-align: center;
}

.order-summary {
  padding: 30px;
}

.order-items {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px ;
  border: 1px solid #eee;
  border-radius: 5px;
}

.order-item{
  border-bottom: 1px solid #d4d4d4 ;
}

.order-items img {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.order-text h4{
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
}

.order-text p{
  margin-bottom: 55px;
  font-size: 16px;
  font-weight: bold;
  
}

.total{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.order-total h3{
  margin: auto;
    margin-top: 200px;
    padding: 10px;
    text-align: center;
  font-weight: bold;
}

.payment-method {

  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  height: fit-content;
}

.payment-method h2{
  font-size: 24px;
  margin-bottom: 50px;
  font-weight: bold;
}

.payment-method button {
  width: 70%;
  padding: 15px;
  margin: 10px 0;
  font-size: 16px;
  border-radius:8px;
  border: none;
  cursor: pointer;
}

/* ------ Tracking : Suivi de la commande  --------- */

.order-tracking-container {
  max-width: 900px;
  margin:85px auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
}

h1, h2 {
  color: #333;
  margin-bottom: 25px;
}

p {
  margin: 4px 0;
}

.order-user-info,
.order-details,
.order-products,
.order-steps {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.product-item {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.product-item img {
  width: 80px;
  height: auto;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-steps ul {
  list-style-type: disc;
  padding-left: 20px;
}

.order-tracking-back-link {
  display: inline-block;
  margin-top: 20px;
  color: #4d00c1;
  text-decoration: none;
  font-weight: bold;
}

.order-tracking-back-link:hover {
  text-decoration: underline;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #eee;
  border-top: 5px solid #0062ca;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.error {
  color: red;
  font-weight: bold;
}

/* -------- Page Favoris ---------------- */

/* Container principal */
.container-fav {
  padding: 20px;
  max-width: 1200px;
  margin: 80px auto;
}

/* Titre favoris */
.fav-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}

/* Message aucun favori */
.no-fav-message {
  text-align: center;
  font-style: italic;
  color: #777;
}

/* Row des cards */
.row-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Animation des cards */
.transition-card {
  transition: opacity 0.5s ease, transform 0.3s ease;
}

/* Disparition */
.fade-out {
  opacity: 0;
  transform: translateX(-50px);
  pointer-events: none;
}

/* Apparition */
.fade-in {
  opacity: 1;
  transform: translateX(0);
}

/* Carte produit */
.card-fav {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 280px;
  transition: box-shadow 0.3s ease;

}

.card-fav:hover {
  box-shadow: 0 8px 20px rgba(193, 0, 83, 0.452);
}

/* Image du produit */
.card-fav-img {
  width: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 15px auto;
}

.card-fav-img:hover {
  transform: scale(1.05);
}

/* Contenu texte de la carte */
.card-body-fav {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Nom du produit */
.card-title {
  font-weight: 500;
  color: #000000;
  font-size: 16px;
}

/* Prix */
.card-text {
  margin: auto;
  font-size: 1.25rem;
  color: #000000;
  font-weight: bold;
}

/* Sélecteur de taille */
.select-size {
  width: 65%;
  margin: auto;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.select-size:focus {
  border-color: #d6336c;
  box-shadow: 0 0 6px rgba(214, 51, 108, 0.4);
  outline: none;
}

.cIsfgi .addbutton {
  position: relative;
  width: 155px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid rgb(52, 151, 77);
  background-color: rgb(2, 134, 35);
  border-radius: 5px;
  margin: 20px auto;
  margin-left: 40px;
}

/* Texte taille indisponible */
.text-muted {
  color: #999;
  font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  .card-fav {
    width: 100%;
  }
}



/* -------- Footer ---------- */
/* Footer principal */
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #222;
  color: white;
  padding: 15px 20px 5px 25px;
  box-sizing: border-box;
  margin-top: 20px;
}

/* Colonnes */
.footer-column {
  flex: 1 1 200px;
  margin: 1rem;
}

.footer-column h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
}

.footer-column ul li:hover {
  color: #ddd;
}

/* Footer bottom */
.footer-bottom {
  border-top: 1px solid #bebebe;
  background-color: #222;
  color: #ccc;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin: auto;
}

.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.footer-bottom .left,
.footer-bottom .right {
  margin: 0.3rem 0;
}



/* ____________ Responsive _________________ */

@media (max-width: 992px) {

  .d-flex
{
  display: flex;
  position: absolute;
  top: 15px;
  right: 20px;
  justify-content: center;
  align-items: center;
  }

  .navbar .container-fluid {
    display: flex;
    justify-content: center; 
  }

  .navbar {
    padding-left: -0px;
    padding-top: 60px;
    
  }

  .navbar-expand-lg .navbar-nav {
    padding-left: 0px;
  }

  .navbar-brand {
    
    position: absolute;
    top: -10px; 
  }

  .navbar-brand img {
    padding-top: 18px;
    width: 105px;
    padding-left: 40px;
}

  .navbar-toggler{
    position: absolute;
    left: 30px;
    top: 15px;
  }

  .rounded {
    width: 100%;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.479);
}

  .form-grid {
    grid-template-columns: 1fr; 
  }

  .category-box {
  flex: 0 0 auto;
  width: 250px;
  height: 290px;
  gap: 85px;
  margin: auto;
}

.categories-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    justify-content: flex-start;
    padding: 20px 42px 20px 42px;
    gap: 70px;
    scroll-padding-left: 10px;
}

  .category-image {
  width: 100%;
  max-height: 230px; 
  object-fit: contain;
  border-radius: 5px;
}

  .search {
    display: none;
  }

  .col-md-4 {
    flex: 0 0 50%; /* 2 cartes par ligne sur tablette */
  }
}   

@media (max-width: 900px) {
  .card-wrapper {
    flex: 1 1 calc(50% - 20px); /* 2 cartes par ligne sous 900px */
    max-width: calc(50% - 20px);
  }
}



/* Mise en page en colonne pour les écrans étroits */
@media (max-width: 768px) {
  
  .product-detail-content {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    width: 100%;
  }

  .product-detail-content {
    flex-direction: column;
    align-items: center;
  }

  .product-image,
  .product-detail-info {
    max-width: 100%;
  }

  .suggested-products-list {
    gap: 10px;
  }
  .suggested-product-card {
    min-width: 140px;
    padding: 8px;
  }
  .suggested-products-section > h3 {
    font-size: 1.25rem;
  }

  .footer {
    padding: 45px;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .footer-bottom-content {
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
  }

  .footer-bottom .left {
    text-align: center;
    font-size: 16px;
    padding-top: -35px;
  }

  .footer-bottom .right{
    text-align: center;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .categories-slider {
    overflow-x: hidden;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .category-box {
    flex: 0 0 auto;
    width: 200px; 
    height: 260px;
  }

  .category-image {
  width: 100%;
  max-height: 170px; 
  object-fit: contain;
  border-radius: 5px;
  }
}

@media (max-width: 767px) {
  .row-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col-md-4 {
    flex: 0 0 90%;
    max-width: 90%;
    margin-bottom: 1rem;
  }
}


@media screen and (max-width: 600px) {
  .prf {
    padding: 1rem;
    font-size: 13px;
  }

  .prf-title {
    font-size: 16px;
  }

  .prf-subtitle {
    font-size: 14px;
  }

  .prf-order-title {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .products-container {
    grid-template-columns: 1fr; /* Une seule colonne */
  }

  .card-img-top {
    height: 200px;
  }

  .modal-content {
    padding: 1.5rem 1rem;
    font-size: 13px;
  }

  .form-grid input,
  .submit {
    font-size: 13px;
  }

  .order-tracking-container {
    padding: 15px;
  }

  .order-tracking-container h1 {
    font-size: 1.5rem;
  }

  .order-tracking-info p {
    font-size: 0.95rem;
  }

  .order-tracking-steps li {
    font-size: 0.9rem;
  }

  .shadow-sm {
    width: 300px;
    height: 460px;
}

  .text-primary{
    margin-top: 10px;
    margin-bottom: 20px;
  }
.card-wrapper {
  margin: auto 40px;
    flex: 1 1 100%; /* 1 carte par ligne sur petit écran */
    max-width: 100%;
  }
}